*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-color: var(--primary-shade);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-shade);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-base);
}

::selection {
  background-color: var(--secondary-base);
  color: var(--white);
}


body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--text-base);
  line-height: var(--line-height-normal);
  color: var(--white);
  background-color: var(--primary-base);
}

/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0d27;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #5b2d9c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

h1 {
  font-size: clamp(3rem, 4vw, var(--text-h1));
  line-height: var(--line-height-tight);
}

h2 {
  /* font-size: var(--text-h2); */
  font-size: clamp(2.2rem, 2.5vw, var(--text-h3));
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: clamp(1.8rem, 2vw, var(--text-h3));
}

p {
  font-size: clamp(1.4rem, 1.2vw, var(--text-paragraph));
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--tertiary-tint);
}

a:hover, a:active {
  color: var(--primary-base);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* --------------------- COMPONENTS --------------------- */

.btn {
  padding: 1.2rem 2.4rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--text-base);
}

.btn-1:link, .btn-1:visited {
  background-color: var(--secondary-base) !important;
  transition: background-color 0.3s, transform 0.3s ease;
}

.btn-1:active, .btn-1:hover {
  background-color: var(--secondary-tint) !important;
  transform: scale(1.03);
}

.btn-2:link, .btn-2:visited {
  background-color: var(--none);
  border: 1px solid var(--white);
  color: var(--white);
  transition: all 0.3s ease;
}

.btn-2:active, .btn-2:hover {
   border: 1px solid var(--secondary-tint);
   color: var(--secondary-tint);
}

.nav-link.active {
  color: var(--secondary-tint);
}

/* --------------------- ANIMATION --------------------- */

.animation {
  opacity: 0;
  translate: -50%;
  transition: translate 1s ease-in-out, opacity 3s ease;
}

.animation.show {
  opacity: 1;
  translate: 0;
}



/* --------------------- SECTIONS --------------------- */

/* --------------- Navbar Section --------------- */
.navbar {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: height 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.navbar.scrolled {
  height: var(--navbar-height);
  background-color: #070615b6;
  backdrop-filter: blur(9px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(154, 153, 168, 0.089);
}

.nav-logo {
  font-weight: var(--font-weight-bold);
  font-size: calc(var(--text-h5) - 0.3rem);
  letter-spacing: 3px;
  color: var(--white);
}

.nav-logo-img {
  display: none;
}

.nav-logo:hover {
  color: var(--white);
}

.navbar-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar-div ul {
  display: flex;
  gap: 30px;
  font-size: var(--text-sm);
}

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 6px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--tertiary-shade);
  transition:  0.3s ease-in-out;
}

.navbar a:active, a:hover {
  color: var(--secondary-tint);
}



/* --------------- Hero Section --------------- */
#home {
  scroll-margin-top: var(--navbar-height);
}

.hero-section {
  height: 100vh; /* the fixed height */
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-section ul {
  display: flex;
  gap: 20px;
}

.hero-section h1 {
  font-weight: var(--font-weight-bold);
  max-width: 900px;
  padding-top: 7rem;
  font-size: clamp(3rem, 5vw, 6rem);
}

.hero-section h1 span {
  color: var(--secondary-tint);
}

.hero-section p {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-base);
  max-width: 700px;
  color: var(--tertiary-shade);
}



/* --------------- Service Section --------------- */
#service {
  scroll-margin-top:  var(--navbar-height);
}

.services-section {
  padding-top: clamp(6rem, 8vw, 8rem);
  margin-top: clamp(6rem, 10vw, 10rem);
  margin-bottom: clamp(6rem, 10vw, 10rem);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-section h4 {
  color: var(--secondary-tint);
  font-weight: var(--font-weight-bold);
  letter-spacing: 3px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: var(--primary-tint);
  border-radius: 2px;
  border: 1px solid rgba(154, 153, 168, 0.144);
  padding: 30px;
  transition: all 0.3s ease;
}

.cards .image-icon {
  width: 50px;
  border-radius: 4px;
  background-color: var(--primary-base);
  padding: 10px;
  border: 1px solid rgba(154, 153, 168, 0.144);
  transition: all 0.3s ease;
}

.cards h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-h5);
  transition: all 0.3s ease;
}

/* ---- card hover effects ---- */
.cards:hover {
  border: 1px solid  var(--secondary-shade);
}

.cards:hover .image-icon {
  border-color: var(--secondary-shade);
}

.cards:hover h3 {
  color: var(--secondary-tint);
}

.cards p {
  font-size: var(--text-base);
  max-width: 700px;
  color: var(--tertiary-shade);
}

.services-section > p {
  background-color: var(--primary-tint);
  border-radius: 4px;
  border: 1px solid rgba(154, 153, 168, 0.144);
  margin-top: 20px;
  padding: 30px;
  font-size: var(--text-base);
  color: var(--tertiary-shade);
}


/* --------------- About Section --------------- */
#about {
  scroll-margin-top: var(--navbar-height);
  background-color: var(--primary-shade);
}

.about-section {
  padding-top: clamp(8rem, 10vw, 12rem);
  padding-bottom: clamp(8rem, 10vw, 12rem);

  display: flex;
  gap: 4rem;
  color: var(--tertiary-shade);
}

.about-section div {
  border-left: 3px solid var(--secondary-shade);
  padding: 0.5rem 2rem 0.5rem 3rem;
  position: relative;
}

.about-section h3 {
  position: absolute;
  top: -3.8rem;
  left: 2rem;
  font-size: 14rem;
  color: #9b6ddc2c;
  pointer-events: none;
}

.about-section p {
  position: relative;
  z-index: 1;
}

.about-section p span {
  display: inline-block;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  margin-bottom: 0.6rem;
  letter-spacing: 1px;
}


/* --------------- How We Work Section --------------- */
#how-we-work {
  scroll-margin-top: var(--navbar-height);
}

.how-we-work-section {
  padding-top: clamp(8rem, 10vw, 13rem);
  padding-bottom: clamp(8rem, 10vw, 13rem);
  text-align: center;
  > h2{
    padding-bottom: 7rem;
    font-size: var(--text-h3);
    font-weight: var(--font-weight-bold);
  }
}

.how-we-work-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.how-we-work-card div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.how-we-work-card span {
  font-size: var(--text-h3);
  font-weight: var(--font-weight-bold);
  color: #9b6ddc2c;
}

.how-we-work-card div {
  text-align: left;
  font-size: var(--text-sm);
}

.how-we-work-card h3 {
  font-size: clamp(1.3rem, 1.5vw, var(--text-paragraph));
  font-weight: var(--font-weight-bold);
}

.how-we-work-card p {
  font-size: clamp(1.4rem, 1vw, var(--text-base));
  color : var(--tertiary-shade);
}

/* --------------- Our Advantages Section --------------- */

#our-advantages {
  background-color: var(--primary-tint);
}

.our-advantages-card {
  padding-top: clamp(8rem, 9vw, 11rem);
  padding-bottom: clamp(8rem, 9vw, 11rem);
}

.our-advantages-card h2{
  padding-bottom: 6.5rem;
  font-size: var(--text-h3);
  font-weight: var(--font-weight-bold);
}

.advantages-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.advantages-cards div {
  background-color: var(--primary-base);
  border: 1px solid rgba(154, 153, 168, 0.089);
  transition: all 0.3s ease;
  padding: 2.5rem;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.advantages-cards span {
  padding-top: 0.75rem;
  background:
    linear-gradient(var(--secondary-base), var(--secondary-base))
    left top / 45px 2px no-repeat;
}

.advantages-cards div:hover {
  border: 1px solid  var(--secondary-shade);
}


.advantages-cards h3 {
  font-size: var(--text-paragraph);
  font-weight: var(--font-weight-bold);
}

.advantages-cards p {
  font-size: var(--text-sm);
  color : var(--tertiary-shade);
}

/* --------------- AI Authority Section --------------- */
#ai-authority {
  background-color: var(--primary-shade);
}

.ai-authority-section {
  padding-top: clamp(8rem, 12vw, 15rem);
  padding-bottom: clamp(8rem, 12vw, 15rem);
  display: flex;
  align-items: center;
}

.ai-authority-card h2 {
  color: var(--secondary-tint);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
  letter-spacing: 3px;
}

.ai-authority-card p {
  font-size: var(--text-base);
  color : var(--tertiary-base);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
}

.ai-authority-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: 50%;
}

.ai-authority-image {
  overflow: hidden;
  width: 50%;
  height: 50%;
}

.ai-authority-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: top;
}

/* --------------- Join Us Section --------------- */
#tribe {
  scroll-margin-top: var(--navbar-height);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.join-us {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.join-us h2 {
  padding-bottom: 1rem;
} 

.join-us p {
  font-size: clamp(1rem, 1.5vw, var(--text-base));
  color : var(--tertiary-shade);
  max-width: 600px;
}

.join-us span {
  display: flex;
  align-items: end;
}

.join-us span a {
  font-size: var(--text-sm);
  width: 300px;
  padding: 2rem 0;
  transition: all 0.3s ease;
}

.join-us span a:hover {
  box-shadow: 2px 2px 30px 5px #00000094;
}

.join-us-section {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.join-us-section ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* justify-content: space-between; */
  gap: 1rem;
}

.join-us-section li {
  border: 1px solid rgba(154, 153, 168, 0.144);
  border-radius: 2px;
  /* padding: 2rem 4rem; */
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 1.5vw, var(--text-base));
}

.join-us-section li:hover {
  border: 1px solid  var(--secondary-shade);
}


/* --------------- Final CTA / Contact Section --------------- */
#contact {
  scroll-margin-top: var(--navbar-height);
  border-top: 1px solid rgba(154, 153, 168, 0.034);
  border-bottom: 1px solid rgba(154, 153, 168, 0.034);
}

.contact-section {
  padding-top: clamp(6rem, 8vw, 10rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem
}

.contact-section h1 {
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.contact-section a {
  width: 30%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* --------------- Footer --------------- */
#footer {
  background-color: var(--primary-shade);
}

.footer-div {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.footer-div > p {
  padding-top: 5rem;
  color: rgba(154, 153, 168, 0.459);
  font-size: var(--text-sm);
}

.top-footer-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(154, 153, 168, 0.144);
  padding-bottom: 4rem;
}

.top-footer-section p {
  font-size: var(--text-sm);
  color: var(--tertiary-shade);
}

.top-footer-section ul {
  display: flex;
  gap: 15px;
  font-size: var(--text-sm);
  align-items: center;
  justify-content: center;
}
