@media (max-width: 990px) {
    .about-section h3 {
        transition: top 0.5s ease;
        top: -2.9rem;
        font-size: 11rem;
    }

    .how-we-work-section > h2 {
        padding-bottom: 2.5rem; 
    }

    .how-we-work-card {
        grid-template-columns: 1fr 1fr;
    }

    .our-advantages-card h2 {
        font-size: calc(var(--text-h3) - 0.1rem);
    }

    .advantages-cards {
        grid-template-columns: 1fr 1fr;
    }

    .advantages-cards p {
        font-size: calc(var(--text-sm));
    }

    .join-us p {
        /* font-size: calc(var(--text-sm) - 0.1rem); */
        max-width: 400px;
    }

    .join-us span a {
        width: 220px;
        padding: 1.3rem 0;
    }

    .join-us-section li {
        /* font-size: var(--text-sm); */
        height: 5.5rem;
    }

    .contact-section a {
        font-size: calc(var(--text-sm) - 0.1rem);
    }

}

@media (max-width: 773px) {
    .navbar.scrolled {
        backdrop-filter: none;
        /* height: calc(var(--navbar-height) - 30px); */
    }

    .navbar-div ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        line-height: 120px;
        font-size: var(--text-paragraph);
        gap: 1.7rem !important;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(20px);
    }

    .navbar-div .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu-button {
        display: block;
    }

    .navbar {
        height: 65px;
    }

    .navbar.scrolled {
        height: calc(var(--navbar-height) - 10px);
    }

    .nav-logo {
        font-size: var(--text-paragraph);
    }


    /* --------------- Hero Section --------------- */

    .hero-section {
        gap: 5px;
    }

    .hero-section p {
        font-size: calc(var(--text-sm) - 0.3rem);
        max-width: 500px;
    }

    .hero-section a {
        font-size: calc(var(--text-sm) - 0.3rem);
    }

    /* --------------- Services Section --------------- */
    .services-section {
        gap: 4px;
    }

    .services-section p {
        font-size: var(--text-sm);
    }

    .services-section > p {
        padding: 15px;
    }

    .cards {
        gap: 10px;
        padding: 15px;
    }

    .cards .image-icon {
        width: 45px;
    }

    .cards h3 {
        font-size: var(--text-paragraph);
    }

    .card-grid {
        gap: 25px;
    }

    /* --------------- About Section --------------- */

    .about-section div {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .about-section h3 {
        top: -2.4rem;
        left: 1.5rem;
        font-size: 9rem;
    }

    .about-section p {
        font-size: calc(var(--text-sm) - 0.2rem);
    }


    .ai-authority-card {
        width: 100%;
    }

    .ai-authority-image {
        display: none;
    }


    .top-footer-section p {
        font-size: calc(var(--text-sm) - 0.1rem);
    }

    .top-footer-section ul {
        font-size: calc(var(--text-sm) - 0.1rem);
    }

    .footer-div > p {
        font-size: calc(var(--text-sm) - 0.1rem);
    }

}


@media (max-width: 651px) {
    .card-grid {
        grid-template-columns: 1fr
    }

    .about-section {
        flex-direction: column;
    }

    .how-we-work-section > h2{
        padding-bottom: 4rem;
        font-size: var(--text-h4);
    }

    .how-we-work-card {
        grid-template-columns: 1fr;
    }

    .our-advantages-card h2{
        text-align: center;
        padding-bottom: 4rem;
        font-size: var(--text-h4);
    }

    .advantages-cards {
        grid-template-columns: 1fr;
    }

    .ai-authority-card p {
        font-size: var(--text-sm);
    }

    .join-us {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .contact-section a {
        width: 40%;
        height: 4rem;
    }

    .footer-div {
        text-align: center;
    }

    .top-footer-section {
        flex-direction: column;
    }

}


@media (max-width: 430px) {
    .hero-section ul {
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }

    .hero-section li {
        width: 100%;
    }

    .hero-section a {
        display: block;
        width: 100%;
    }

    .join-us span a {
        width: 100%;
    }

    .contact-section a {
        width: 100%;
    }

    .about-section h3 {
        top: -1.6rem;
        left: 0.6rem;
        font-size: 6rem;
    }

    .about-section div {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .about-section p {
        font-size: calc(var(--text-sm) - 0.1rem);
    }

}